page-home {
    // #background{
    //     background: color($colors,primary) !important;
    // }

    #center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        width: 50%;
        }
    #card{
        margin-bottom:60px; 
        height: 45%;
        // border-top: 3px solid dark !important;
        // box-shadow: 0 !important;
    }

    #header{
        align-content: center;
        justify-content: center;
        text-align: center;
    }

    #loginbtn{
        margin-top: 10px;
    }

    ion-card.card{
        // border: 3px solid dark;
        // box-shadow: none;
        border-radius: 10px;
    }


}
